@model IEnumerable<AdotaPet.WebApp.Models.Entities.RecebimentoDoacoes>

@{
    ViewBag.Title = "Listagem de doações";
}

<h2>Listagem de doações recebidas</h2>

<p>
    @Html.ActionLink("Cadastrar doação", "Create", "Create", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_recebimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_recebimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        
    </tr>
}

</table>
